/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.nav-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-container__logo {
    padding: 10px 4px;
}

.nav-container__logo img {
    width: 100%;
    max-width: 210px;
}

.nav-container__menu__hamburguer {
    display: none;
    font-size: 26px;
    cursor: pointer;
    padding: 10px 20px;
}

.nav-container__menu {
    display: flex;
    align-items: center;

}

.nav-container__menu__list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-container__menu__list__item__link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: background-color 0.3s ease;
}


/* Estilo videos */
.header-container {
    position: relative;
    width: 100%;
    height: 75vh;
    overflow: hidden;
}

.header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.header-video__container__desktop,
.header-video__container__mobile {
    width: 100%;
    height: 100%;
}

.header-video__container__mobile video,
.header-video__container__desktop video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container-shareInformation {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 80px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    background-color: #252525;
    color: #fff;
}

.main-container__content__section-CTA {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main-container__content__section-CTA__social-media {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.main-container__content__section-CTA__social-media__item {
    background-color: #D3FB58;
    border-radius: 8px;
    display: flex;
    padding: 20px;
    width: 64px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.main-container__content__section-CTA__social-media__item i {
    font-size: 24px;
    color: #1F4827;
}

.container-references {
    padding: 30px
}

.references {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    padding: 10px 0px !important;
    margin: 0 auto;
    border-bottom: 1px solid #000;
}

.contenedor-referencias {
    color: var(--color-primario-neutral-900, #000);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 0 auto;
    margin-top: 2.5%;
}

.contenedor-referencias {
    max-height: 0;
    width: 77%;
    margin: 0 auto;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease-out;
}

.contenedor-referencias.show {
    max-height: 700px;
    padding: 15px;
}

.footer-top {
    display: flex;
    padding: 80px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-color: #F3F3F3;
}

.footer-container p {
    flex: 1 0 0;
    color: var(--color-primario-neutral-900, #000);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.footer-contact img {
    display: flex;
    width: 128px;
    height: 40px;
    justify-content: center;
    align-items: center;
}

.footer-links-container {
    display: flex;
    padding-top: 24px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-self: stretch;
}

.footer-links-container p {
    color: var(--color-primario-neutral-900, #000000a5);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


@media (max-width: 768px) {
    .nav-container__menu__hamburguer {
        display: block;
    }

    .nav-container__menu {
        position: fixed;
        top: 0;
        left: -250px;
        width: 250px;
        height: 100%;
        background-color: #edecec;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        flex-direction: column;
        padding: 20px;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .nav-container__menu__list {
        flex-direction: column;
        margin-top: 30px;
        gap: 30px;
    }

    .nav-container__menu__list__item__link {
        color: #000000;
    }

    .nav-container__hr {
        display: none;
    }

    .nav-container.active .nav-container__menu {
        left: 0;
    }

    .header-video__container__desktop {
        display: none;
    }

    .header-video__container__mobile {
        display: block;
    }

}

/* Estilos para pantallas medianas */
@media (min-width: 769px) and (max-width: 992px) {
    .nav-container {
        flex-direction: column;
        align-items: center;
    }

    .nav-container__menu__list {
        flex-direction: row;
        gap: 10px;
    }

    .nav-container__menu {
        position: static;
        height: auto;
        width: auto;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
    }

    .nav-container__menu__hamburguer {
        display: none;
    }

    .nav-container__hr {
        display: block;
        width: 100%;
        height: 4px;
        margin-right: 0;
    }

    /*VIDEO HEADER*/
    .header-container {
        position: relative;
        width: 100%;
        height: 500px;
    }

    .header-video__container__mobile {
        display: none;
    }

    .header-video__container__desktop {
        margin-top: 0;
        display: block;
    }

    .header-video__container__mobile video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Estilos para pantallas grandes */
@media (min-width: 993px) {
    .nav-container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

    }

    .nav-container__hr {
        display: block;
        width: 100%;
        border: 1px solid #000000;
        margin-right: 0;
    }

    .nav-container__logo {
        padding-top: 20px;
    }

    .nav-container__logo img {
        width: 100%;
        max-width: 280px;

    }

    .nav-container__menu__list {
        flex-direction: row;

        gap: 20px;
    }

    .nav-container__menu {
        position: static;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        flex-direction: row;
        padding: 0;
        width: 100%;
    }

    .nav-container__menu__hamburguer {
        display: none;
    }

    /*VIDEO HEADER*/
    .header-container {
        position: relative;
        width: 100%;
    }

    .header-video__container__mobile {
        display: none;
    }

    .header-video__container__desktop {
        margin-top: 0;
        display: block;
    }

    .header-video__container__mobile video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}